// Nav

nav(role="navigation" class="nav nav-doc")
  a(href="base.html", class="#{(!!currentSection && currentSection.indexOf('base') === 0) ? 'active' : ''}") Base
  a(href="layout.html", class="#{(!!currentSection && currentSection.indexOf('layout') === 0) ? 'active' : ''}") Layout
  a(href="modules.html", class="#{(!!currentSection && currentSection.indexOf('modules') === 0) ? 'active' : ''}") Modules
  a(href="state.html", class="#{(!!currentSection && currentSection.indexOf('state') === 0) ? 'active' : ''}") State
  a(href="code.html", class="#{(!!currentSection && currentSection.indexOf('code') === 0) ? 'active' : ''}") Code
